{% extends 'base.html' %}
{% block title %}{{ title }} | TutoNat{% endblock title %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inscripción al curso</li>
    </ol>
</nav>

<p class="title-1">Añadir y Eliminar Cursos</p>

{% include 'snippets/messages.html' %}

{% if current_semester %}
{% if is_calender_on == False %}

<div class="alert bg-danger">
    <h1 class="text-light text-center">El calendario está desactivado</h1>
    <h5 class="text-light text-center">Consulte el calendario universitario</h5>
</div>

{% else %}

{% if not all_courses_are_registered %}

<form action="{% url 'course_registration' %}" method="POST">{% csrf_token %}
    <div class="col-md-12 p-0 bg-white">
        <p class="form-title fw-bold">Añadir curso</p>
        <div class="container">
            <div class="d-flex justify-content-between mb-3">
                <button title="Save Score" type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Añadir seleccionado</button>
            </div>

            <div class="table-responsive p-0 px-2 mt-2">
                <div class="table-title"><u>Primer Semestre:</u></div>
                <div class="table-shadow">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Marca</th>
                                <th>Código del curso</th>
                                <th>Título del curso</th>
                                <th>Cr.Hr(s)</th>
                                <th>Año</th>
                                <th>Clasificación</th>
                                <th>Grupo optativo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                            {% if course.semester == "Primero" %}
                            <tr>
                                <th scope="row">
                                    <input name="{{ course.pk }}" value="{{ course.courseUnit }}" type="checkbox">
                                </th>
                                <td>{{ course.code }}</td>
                                <td>{{ course.title }}</td>
                                <td>{{ course.credit }}</td>
                                <td>{{ course.year }}</td>
                                {% if course.is_elective %}
                                <td>Optativa</td>
                                {% else %}
                                <td>Base</td>
                                {% endif %}
                                <th>-</th>
                            </tr>
                            {% endif %}
                            {% empty %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="text-danger">
                                        No hay curso.
                                    </span>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Crédito(s) del primer semestre:</b> {{ total_first_semester_credit }} </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="table-responsive p-0 px-2 mt-2">
                <div class="table-title"><u>Segundo semestre:</u></div>
                <div class="table-shadow">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Marca</th>
                                <th>Código del curso</th>
                                <th>Título del curso</th>
                                <th>Cr.Hr(s)</th>
                                <th>Año</th>
                                <th>Clasificación</th>
                                <th>Grupo optativo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                            {% if course.semester == "Segundo" %}
                            <tr>
                                <th scope="row">
                                    <input name="{{ course.pk }}" value="{{ course.courseUnit }}" type="checkbox">
                                </th>
                                <td>{{ course.code }}</td>
                                <td>{{ course.title }}</td>
                                <td>{{ course.credit }}</td>
                                <td>{{ course.year }}</td>
                                {% if course.is_elective %}
                                <td>Optativa</td>
                                {% else %}
                                <td>Base</td>
                                {% endif %}
                                <th>-</th>
                            </tr>
                            {% endif %}
                            {% empty %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="text-danger">
                                        No hay curso.
                                    </span>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Crédito(s) del segundo semestre:</b> {{ total_sec_semester_credit }} </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><b>Créditos matriculados: <a id="units">{{ total_registered_credit }}</a></b>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Total de créditos:</b> {{ total_sec_semester_credit|add:total_first_semester_credit }} </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
<br>
<br>

{% if not no_course_is_registered %}

<a class="btn btn-warning" href="{% url 'course_registration_form' %}" target="_blank" title="Print Registration Form">
    <i class="fas fa-print"></i> Imprimir cursos registrados
</a>

<div class="col-md-12 p-0 bg-white">
    <p class="form-title"><b>Abandono del curso</b>
    <div class="level-wrapper">
        <div class="info-text">{{ student.level }}</div>
    </div>
    </p>
    <div class="container">
        <form action="{% url 'course_drop' %}" method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-between mb-4">
                <button title="Save Score" type="submit" class="btn btn-primary">
                    <i class="fa fa-times"></i> Seleccionar abandono
                </button>
            </div>

            <!-- <div>
            <a target="_blank" href="{% url 'course_registration_form' %}" class="btn btn-outline-white btn-rounded btn-sm px-2">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Print Registration Form
              </a>
            </div> -->

            <div class="table-responsive p-0 px-2 mt-2">
                <div class="table-shadow">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Marca</th>
                                <th>Código del curso</th>
                                <th>Título del curso</th>
                                <th>Cr.Hr(s)</th>
                                <th>Año</th>
                                <th>Clasificación</th>
                                <th>Grupo optativo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in registered_courses %}
                            <tr>
                                <th scope="row">
                                    <input name="{{ course.pk }}" value="{{ course.courseUnit }}" type="checkbox">
                                </th>
                                <td>{{ course.code }}</td>
                                <td>{{ course.title }}</td>
                                <td>{{ course.credit }}</td>
                                <td>{{ course.year }}</td>
                                {% if course.is_elective %}
                                <td>Optativa</td>
                                {% else %}
                                <td>Base</td>
                                {% endif %}
                                <th>-</th>
                            </tr>
                            {% empty %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="text-danger">
                                        No hay curso.
                                    </span>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Crédito(s) total(es):</b> {{ total_registered_credit }} </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

{% endif %}
{% endif %}
{% endif %}

{% endblock content %}