{% extends 'base.html' %}
{% block title %}{{ title }} | TutoNat{% endblock title %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'programs' %}">Programas</a></li>
        <li class="breadcrumb-item"><a href="{% url 'program_detail' course.program.id %}">{{ course.program }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ course }}</li>
    </ol>
</nav>

<div class="manage-wrap">
    <div class="d-flex">
        <div class="">
            {% if request.user.is_superuser %}
            <a class="btn btn-sm btn-light" href="{% url 'edit_course' course.slug %}">
                <i class="fas fa-pencil-alt"></i> Editar curso
            </a>
            {% endif %}
            {% if request.user.is_superuser or request.user.is_lecturer %}
            <a class="btn btn-sm btn-primary" href="{% url 'upload_file_view' course.slug %}"><i class="fas fa-plus"></i>
                Cargar nuevo archivo
            </a>
            <a class="btn btn-sm btn-primary" href="{% url 'upload_video' course.slug %}"><i class="fas fa-plus"></i>
                Subir nuevo vídeo
            </a>
            {% endif %}
        </div>
        <div class="ms-auto">
            <a class="btn btn-sm btn-warning" href="{% url 'quiz_index' course.slug %}"><i class="fas fa-list"></i>
                Realiza un cuestionario
            </a>
            <a class="btn btn-sm btn-success" href="{% url 'quiz_index' course.slug %}"><i class="fas fa-regular fa-comments"></i>
                Chatbot
            </a>
        </div>
    </div>
</div>

<div class="title-1">{{ course }}</div>
<p class="small text-muted">{{ course.summary }}</p>

{% include 'snippets/messages.html' %}

<div class="container">

    <div class="row mb-5">
        <div class="col-md-12 p-0">
            <p class="form-title m-0">Video Tutorial</p>
            <div class="table-responsive">
                <table class="table table-shadow table-light table-striped m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Título del vídeo</th>
                            <th>Fecha de carga</th>
                            <th>Comenzar</th>
                            {% if request.user.is_superuser or request.user.is_lecturer %}
                            <th>Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in videos %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="{{ video.get_absolute_url }}" title="{{ video }}" class="d-flex align-items-center">
                                    <i class="fas fa-video me-1"></i> {{ video.title|title }}
                                </a>
                            </td>
                            <td>{{ video.timestamp|date }}</td>
                            <th>
                                <div>
                                    <a class="download-btn" href="{{ video.get_absolute_url }}"
                                        title="Reproducelo">
                                        <i class="fas fa-play me-1"></i>Ver ahora</a>
                                </div>
                            </th>

                            {% if request.user.is_superuser or request.user.is_lecturer %}
                            <td>
                                <div class="update-delete">
                                    <a href="{% url 'upload_video_edit' slug=course.slug video_slug=video.slug %}"
                                        class="update" title="Editar">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="{% url 'upload_video_delete' slug=course.slug video_slug=video.slug %}"
                                        class="delete" title="Eliminar">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="text-danger">
                                    Ningún vídeo subido.
                                    {% if request.user.is_superuser or request.user.is_lecturer %}
                                    <a href="{% url 'upload_video' course.slug %}">
                                        <i class="primary" style="font-size: 22px;">
                                            Subir ahora.
                                        </i>
                                        {% endif %}
                                    </a>
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-0">
            <p class="form-title m-0">Documentación</p>
            <div class="table-responsive">
                <table class="table table-shadow table-light table-striped m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre del archivo</th>
                            <th>Fecha de carga</th>
                            <th>Fecha de actualización</th>
                            <th>Descargas</th>
                            {% if request.user.is_superuser or request.user.is_lecturer %}
                            <th>Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ file.file.url }}" title="{{ file }}" class="d-flex align-items-center">
                                    <i class="fas fa-file-{{ file.get_extension_short }} me-1"></i>
                                    {{ file.title|title }}
                                </a>
                            </td>
                            <td>{{ file.upload_time|date }}</td>
                            <td>{{ file.updated_date|date }}</td>
                            <th>
                                <div>
                                    <a class="download-btn" href="{{ file.file.url }}" title="Descárgalo en tu dispositivo">
                                        <i class="fas fa-download me-1"></i>Descargar</a>
                                </div>
                            </th>

                            {% if request.user.is_superuser or request.user.is_lecturer %}
                            <td>
                                <div class="update-delete">
                                    <a href="{% url 'upload_file_edit' slug=course.slug file_id=file.pk %}"
                                        class="update" title="Editar">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="{% url 'upload_file_delete' slug=course.slug file_id=file.pk %}"
                                        class="delete" title="Eliminar">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="text-danger">
                                    No se ha cargado ningún archivo.
                                    {% if request.user.is_superuser or request.user.is_lecturer %}
                                    <a href="{% url 'upload_file_view' course.slug %}">
                                        <i class="primary" style="font-size: 22px;">
                                            Subir ahora.
                                        </i>
                                        {% endif %}
                                    </a>
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="site-section mb-5 mt-4">
    <div class="title-1">Profesor(es)</div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            {% for lecturer in lecturers %}
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        {% if lecturer.lecturer.picture %}
                        <img class="avatar avatar-lg" src="{{ lecturer.lecturer.picture.url }}" alt="">
                        {% endif %}
                        <h5 class="fw-bold mb-0">{{ lecturer|title }}</h5>
                        <p class="mb-0">{{ lecturer.lecturer.email }}</p>
                        <p class="text-muted small">Descripción del docente</p>
                        <p>
                            <a class="btn btn-sm btn-secondary" href="#" role="button"><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm btn-secondary" href="#" role="button"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm btn-secondary" href="#" role="button"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            {% empty %}
            <h6 class="text-muted mt-3">No hay profesor asignado para este curso</h6>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock content %}