{% extends 'base.html' %}
{% block title %}{{ title }} | TutoNat{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'programs' %}">Programas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Formulario del Programa</li>
    </ol>
</nav>

{% include 'snippets/messages.html' %}

<div class="row">
<div class="col-md-6 mx-auto">
    <div class="card">
        <p class="form-title">Formulario para Programa</p>
        <div class="p-3"><br>
            <form action="" method="POST">{% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Guardar">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}
