{% extends 'registration/registration_base.html' %}
{% block title %}TutoNat - Inicio de sesión{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}


<div class="col">
  {% if messages %}
		{% for message in messages %}
			<div class="alert alert-{% if 'success' in message.tags %}success{% elif 'error' in message.tags %}danger{% endif %}">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
</div>

<div class="col-md-4 mx-auto mt-5">
  <div class="card">
    <div class="form-title">
      <i class="fas fa-lock me-2"></i>
      Iniciar Sesión
    </div>
    <div class="card-body">
        <form action="" method="POST" id="login-form">{% csrf_token %}
          <div class="form-group mb-3">
              <label class="mb-2" for="username_id"><i class="fas fa-address-card me-2"></i>Usuario</label>
              <input type="text" name="username" id="username_id" class="form-control" required>
              <div id="message-wrapper"></div>
          </div>
          <div class="form-group mb-3">
              <label class="mb-2" for="password_id"><i class="fas fa-key me-2"></i>Contraseña</label>
              <input type="password" name="password" id="password_id" class="form-control" required>
          </div>
          {% if form.errors %}
                <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Usuario y contraseña no válidos.</span><br>
          {% endif %}
          
          <div class="text-center">
            <button type="submit" class="btn btn-primary" id="login-btn"><i class="fas fa-sign-in-alt"></i><small> INICIAR SESIÓN</small></button>
          </div>

        </form>
        <br>
        <div class="text-center login-bottom">
          <a href="{% url 'password_reset' %}" class="link">¿Ha olvidado su contraseña?</a>
        </div>
        <div class="text-center login-bottom">
          <a href="{% url 'register' %}" class="link">¿No tienes una cuenta? Regístrate ahora</a>
        </div>
        <div class="text-center col-12">
          <p class="small m-0">
            Lea nuestras <a href="{% url 'privacy_policy' %}"> Política de Privacidad </a> y <a href="{% url 'term-of-service' %}"> Condiciones de Uso. </a>
            <br />TutoNat &copy; <script>document.write(new Date().getFullYear());</script>
            <br />
          </p>
        </div>
      </div>
  </div>
</div>
{% endblock content %}

{% block js %}

<script>
  $('#login-form').submit(function (e) {
    // e.preventDefault();
    $('#login-btn').addClass('disabled')
    $('#login-btn').html(`<i class="fas fa-sign-in-alt"></i> Iniciando sesión . . .`)
  })

  $("#username").on("input", function () {
    username = $(this).val();

    $.ajax({
      url: "/accounts/ajax/validate-username/",
      data: {
        username: username
      },
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          console.log(data.is_taken);
          $('#message-wrapper').html(`<p class="my-2 text-danger"><span class="bg-error p-2"><b>${username}</b> ya está ocupado :( prueba con otro </span></p>`)
        }
        else {
          $('#message-wrapper').html(`<p class="my-2 text-success"><span class="bg-correct p-2"><b>${username}</b> es válido </span></p>`)
        }
      }

    })
  })
</script>
{% endblock %}
