{% extends 'registration/registration_base.html' %}
{% block title %}Nueva contraseña | TutoNat{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div id="login">
  <h3 class="login-title">Confirmar nueva contraseña</h3>
    <div class="p-3">
        <form action="" method="POST" class="form-box text-left">{% csrf_token %}
            {{ form|crispy }}
            <!-- <label for="password1">New Password</label>
            <input type="password" id="password1" name="password1" class="form-control" required><hr>
            <label for="password2">Confirm Password</label>
            <input type="password" id="password2" name="password2" class="form-control" required>
            <hr> -->
            <input type="submit" class="btn btn-primary" value="Restablecer contraseña">
        </form>
    </div>
</div>
{% endblock content %}
