{% extends 'registration/registration_base.html' %}
{% block title %}Correo electrónico enviado | TutoNat{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="text-center login-title">Correo electrónico enviado</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>Se ha enviado un correo electrónico con instrucciones
      para restablecer su contraseña, compruebe su correo electrónico.
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>Volver al inicio de sesión</a>
  </div>
</div>
{% endblock content %}
