{% extends 'registration/registration_base.html' %}
{% block title %}Restablecimiento de contraseña completado | TutoNat{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="text-center login-title">Restablecimiento de contraseña completado</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>Se ha establecido su contraseña, ahora puede iniciar sesión.
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">Iniciar sesión aquí</a>
    </div>
</div>
{% endblock content %}
