{% extends 'base.html' %}
{% block title %}{{ title }} | TunoNat {% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lecturer_list' %}">Profesores</a></li>
      <li class="breadcrumb-item active" aria-current="page">Añadir</li>
    </ol>
</nav>

<h4 class="fw-bold mb-3"><i class="fas fa-chalkboard-teacher me-2"></i>Formulario para agregar profesores</h4>

{% include 'snippets/messages.html' %}

<form action="" method="POST">{% csrf_token %}
    <div class="row mb-3">
        
        <div class="col-md-6">
            <div class="card">
                <p class="form-title">Información personal</p>
                <div class="p-2">
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.address|as_crispy_field }}
                    {{ form.phone|as_crispy_field }}
                </div>
            </div>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Guardar">
</form>

{% endblock content %}
