{% extends 'base.html' %}
{% block title %}{{ title }} | TunoNat {% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lecturer_list' %}">Profesores</a></li>
      <li class="breadcrumb-item active" aria-current="page">Actualizar</li>
    </ol>
</nav>

<div class="title-1"><i class="fas fa-cogs"></i>Formulario para actualizar profesores</div>
<br>
<br>

{% include 'snippets/messages.html' %}

<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <p class="form-title">Email &amp; Información personal</p>
                <div class="card-body">
                    {{ form.email|as_crispy_field }}
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.phone|as_crispy_field }}
                    {{ form.address|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <p class="form-title">Otros</p>
                <div class="card-body">
                    {{ form.picture|as_crispy_field }}
                </div>
            </div>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Guardar">
</form>
{% endblock content %}
