{% extends 'base.html' %}
{% block title %}{{ title }} | TutoNat{% endblock title %}

{% block content %}


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Estudiantes</li>
    </ol>
</nav>

<!-- <div id="input-nav"><a href="{% url 'home' %}" class="primary1">Inicio</a> Students</div> -->

{% if request.user.is_superuser %}
<div class="manage-wrap">
    <a class="btn btn-sm btn-primary" href="{% url 'add_student' %}"><i class="fas fa-plus"></i> Añadir Estudiante</a>
</div>
{% endif %}

<div class="title-1"><i class="fas fa-user-graduate"></i>Estudiantes</div>
<br>
<br>

{% include 'snippets/messages.html' %}
{% include 'snippets/filter_form.html' %}

<div class="table-responsive table-shadow table-light table-striped m-0 mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th> Usuario </th>
                <th> Nombre completo </th>
                <th> Correo electrónico </th>
                <th> Programa </th>
                {% if request.user.is_superuser %}
                <th> Acción </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for student in filter.qs %}
            <tr>
                <td> {{ forloop.counter }}.</td>
                <td>{{ student.student.username }} </td>
                <td><a href="{% url 'profile_single' student.student.id %}">{{ student.student.get_full_name }}</a></td>
                <td>{{ student.student.email }} </td>
                <td>{{ student.program }}</td>

                {% if request.user.is_superuser %}
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-vertical"></i>
                        </button>
                        <ul class="dropdown-menu position-fixed">
                          <li><a class="dropdown-item" href="{% url 'student_edit' student.student.pk %}"><i class="fas fa-edit"></i> Actualizar</a></li>
                          <li><a class="dropdown-item text-danger" href="{% url 'student_delete' student.pk %}"><i class="fas fa-trash-alt"></i> Eliminar</a></li>
                        </ul>
                      </div>
                </td>
                {% endif %}
                
                {% empty %}
                <tr>
                  <td colspan="6">
                  <span class="text-danger">
                    No hay estuiantes.
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_student' %}">
                    <i class="primary" style="font-size: 22px;">
                        Añadir estudiante ahora.
                    </i>
                    {% endif %}
                    </a>
                  </span>
                </td>
                </tr>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
