{% extends 'base.html' %}
{% block title %}{{ title }} | TutoNat{% endblock title %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Gestionar puntuación</li>
    </ol>
</nav>

{% include 'snippets/messages.html' %}

<div class="title-1 mb-3"><i class="fas fa-table"></i>Gestionar puntuación</div>

{% if current_semester %}
<div class="row">
    <div class="col-md-8">
        <div class="card text-center">
            <p class="form-title">
                {{ current_semester }} Semestre - <i class="result-title">{{ current_session }}</i>
            </p>
            <div class="container">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle mx-auto mb-2" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seleccione aquí su curso
                    </button>
                    <div class="dropdown-menu">
                        {% for course in courses %}
                            <a class="dropdown-item" href="{% url 'add_score_for' course.id %}" title="{{ course.code }}">{{ course.title }}</a>
                        {% empty %}
                            <p class="dropdown-item">No hay curso.</p>
                        {% endfor %}
                    </div>
                </div>
                <p>Para gestionar las puntuaciones, seleccione el curso utilizando el botón de arriba.</p>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
