{% extends 'base.html' %}
{% block title %}{{ title }} | TutoNat{% endblock title %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Resultados de la calificación</li>
  </ol>
</nav>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="title-1"><i class="fas fa-table"></i>Resultados de la calificación</div>
<p> Resultados del {{ student.level }}</p>

<div class="table-responsive">
  <div class="table-title"><u>Primer Semestre:</u></div>
  <table class="table table-light">
    <thead>
      <tr>
        <th>#</th>
        <th>Título del curso</th>
        <th>Código del curso</th>
        <th>Cr.Hr</th>
        <th>Calificación</th>
        <th>Puntos</th>
        <th>Comentario</th>
      </tr>
    </thead>
    {% for course in courses %}
    {% if course.course.semester == "Primero" %}
    <tbody>
      <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray{% endif %}">
        <th>{{ forloop.counter }}</th>
        <td><a href="{{ course.course.get_absolute_url }}">{{ course.course.title }}</a></td>
        <td>{{ course.course.code }}</td>
        <td>{{ course.course.credit }}</td>

        <td class="{% if course.grade == 'F' %}danger{% else %}success{% endif %}">{{ course.grade }}</td>
        <td>{{ course.point }}</td>

        {% if course.comment == 'PASS' %}
          <td class="success"><i class="fas fa-check-circle"></i> APROBADO</td>
        {% elif course.comment == 'FAIL' %}
          <td class="danger"><i class="fas fa-exclamation-circle"></i> REPROBADO</td>
        {% else %}
          <td></td>
        {% endif %}

      </tr>
    </tbody>
    {% endif %}
    {% endfor %}

    {% for result in results %}
    {% if result.semester == "Primero" %}
    <tr style="background: #f3f2f2;">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Total de créditos del primer semestre: {{ total_first_semester_credit }}</th>
    </tr>
    <tr class="bg-orange text-white">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Promedio del primer semestre: {{ result.gpa }}</th>
    </tr>
    {% endif %}
    {% endfor %}

  </table>
</div>
  
<div class="table-responsive p-0 px-2 mt-3">
  <div class="table-title"><u>Segundo semestre:</u></div>
  <table class="table table-light">
    <thead>
      <tr>
        <th>#</th>
        <th>Título del curso</th>
        <th>Código del curso</th>
        <th>Cr.Hr</th>
        <th>Calificación</th>
        <th>Puntos</th>
        <th>Comentario</th>
      </tr>
    </thead>
    {% for course in courses %}
    {% if course.course.semester == "Segundo" %}
    <tbody>
      <tr>
        <th>{{ forloop.counter }}</th>
        <td><a href="{{ course.course.get_absolute_url }}">{{ course.course.title }}</a></td>
        <td>{{ course.course.code }}</td>
        <td>{{ course.course.credit }}</td>
        
        <td class="{% if course.grade == 'F' %}danger{% else %}success{% endif %}">{{ course.grade }}</td>
        <td>{{ course.point }}</td>
        
        {% if course.comment == 'PASS' %}
          <td class="success"><i class="fas fa-check-circle"></i> APROBADO</td>
        {% elif course.comment == 'FAIL' %}
          <td class="danger"><i class="fas fa-exclamation-circle"></i> REPROBADO</td>
        {% else %}
          <td></td>
        {% endif %}

      </tr>
    </tbody>
    {% endif %}
    {% endfor %}
    
    {% for result in results %}
    {% if result.semester == "Segundo" %}
    <tr style="background: #f3f2f2;">
      <th></th>
      <th>Total de créditos del segundo semestre: {{ total_sec_semester_credit }}</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Total de créditos: {{ total_first_and_second_semester_credit }}</th>
    </tr>
    <tr style="background: #f3f2f2;">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Promedio del segundo semestre: {{ result.gpa }}</th>
    </tr>
    <tr style="background: #fd7e14; color: #fff;">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Promedio anterior: {{ previousCGPA }}</th>
    </tr>
    {% endif %}
    {% endfor %}

  </table>
</div>

<br>
<tbody>
  {% for result in results %}
  {% if result.semester == "Primero" %}
  <tr>
    <th></th>
    <th></th>
    <th><label>Promedio del Primer Semestre:</label> {{ result.gpa }}</th>
  </tr>
  <br>
  {% elif result.semester == "Segundo" %}
    <tr>
    <th></th>
    <th></th>
    <th><label>Promedio del segundo semestre:</label> {{ result.gpa }}</th>
  </tr>
  <br>
  {% endif %}
  {% endfor %}
  <tr>
    <th></th>
    <th></th>
    <th><label>Promedio anterior:</label> {{ previousCGPA }}</th>
  </tr>
</tbody>
<br>
{% endblock %}
