{% extends 'base.html' %}
{% block title %}{{ title }} | TutoNat{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Panel de administración</li>
    </ol>
</nav>  

<div class="title-1"><i class="fas fa-user-tie"></i>Panel de administración</div>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="border-bottom">
                Gestionar<a class="link" href="{% url 'lecturer_list' %}"> Profesores &raquo;</a>
                <p class="text-muted">CRUD (crear, recuperar, actualizar y eliminar) profesores</p>
            </div>

            <div class="border-bottom mt-3">
                Gestionar<a class="link" href="{% url 'student_list' %}"> Estudiantes &raquo;</a>
            <p class="text-muted">CRUD (crear, recuperar, actualizar y eliminar) estudiantes</p>
            </div>

            <div class="border-bottom mt-3">
                Gestionar<a class="link" href="{% url 'session_list' %}"> Jornada &raquo;</a>
            <p class="text-muted">CRUD (crear, recuperar, actualizar y eliminar) jornadas</p>
            </div>

            <div class="mt-3">
            Gestionar<a class="link" href="{% url 'semester_list' %}"> Semestres &raquo;</a>
            <p class="text-muted">CRUD (crear, recuperar, actualizar y eliminar) semesters</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border-bottom">
                Agregar y Eliminar Cursos
                <label class="switch switch-text switch-success switch-pill" style="float: right;">
                <input type="checkbox" class="switch-input" checked="true">
                <span data-on="Si" data-off="No" class="switch-label"></span>
                <span class="switch-handle"></span>
                </label>
                <p class="text-muted">Cambiar 
                    <i class="info-text py-0 px-2 bg-success text-light">SI</i> or <i class="info-text py-0 px-2 bg-danger text-light">NO</i>
                </p>
            </div>

            <div class="border-bottom mt-3">
                Gestionar<a class="link" href="{% url 'programs' %}"> Programas y Cursos &raquo;</a>
            <p class="text-muted">CRUD (crear, recuperar, actualizar y eliminar) Programas</p>
            </div>

            <div class="border-bottom mt-3">
            Gestionar<a class="link" href="{% url 'course_allocation_view' %}"> Asignación de cursos &raquo;</a>
            <p class="text-muted">CRUD (crear, recuperar, actualizar y eliminar) Asignación de cursos</p>
            </div>

            <div class="mt-3">
            Gestionar<a class="link" href="{% url 'home' %}"> Noticias y eventos &raquo;</a>
            <p class="text-muted">CRUD (crear, recuperar, actualizar y eliminar) Noticias y eventos</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
