{% extends 'base.html' %}
{% block title %}{{ title }} | TutoNat{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cambio de contraseña</li>
    </ol>
</nav>

{% include 'snippets/messages.html' %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <p class="form-title"><i class="fas fa-lock"></i> Cambiar contraseña</p>
            <div class="card-body">
                <form action="" method="POST">{% csrf_token %}
                {{ form|crispy }}
                <center><input class="btn btn-primary" type="submit" value="Cambiar contraseña"></center><br>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
