{% extends 'error_handler_base.html' %}

{% block content %}
<div class="text-center mt-5">
    <h1>Bad request</h1>
    <p>Asegúrate de que el formulario está correctamente lleno.</p>
    <a href="/" class="link">&LeftArrow; Volver a la aplicación</a>
</div>
{% endblock %}
