{% extends 'error_handler_base.html' %}

{% block content %}
<div class="text-center mt-5">
    <h1>403, prohibido</h1>
    <p>Necesita el permiso adecuado para hacer esa solicitud.</p>
    <a href="/" class="link">&LeftArrow; Volver a la aplicación</a>
</div>
{% endblock %}
