{% extends 'error_handler_base.html' %}

{% block content %}
<div class="text-center mt-5">
    <h1>404</h1>
    <p>Parece que la página que buscas no existe.</p>
    <a href="/" class="link">&LeftArrow; Volver a la aplicación</a>
</div>
{% endblock %}
