{% extends 'error_handler_base.html' %}

{% block content %}
<div class="text-center mt-5">
    <h1>Error del servidor</h1>
    <p>Por favor, inténtelo más tarde.</p>
    <a href="/" class="link">&LeftArrow; Volver a la aplicación</a>
</div>
{% endblock %}
