{% load i18n %}
{% if previous.answers %}

  {% if user_was_incorrect %}
    <div class="alert alert-error">
  	  <strong>{% trans "Ha respondido incorrectamente a la pregunta anterior" %}</strong>
    </div>
  {% endif %}

  <table class="table table-striped table-bordered">
    <tbody>
  	  {% for answer in previous.answers %}
        {% if answer.correct %}
  	    <tr class="success">
  		  <td>{{ answer }}</td>
  		  <td><strong>{% trans "Esta es la respuesta correcta" %}</strong></td>
		</tr>
        {% else %}
  		<tr>
      	  <td>{{ answer }}</td>
  		  <td>
  			{% if previous.question_type.MCQuestion %}
  			  {% if answer.id|add:"0" == previous.previous_answer|add:"0" %}
  			    {% trans "Esta fue tu respuesta." %}
  			  {% endif %}
  			{% endif %}
  		  </td>
		</tr>
  	  {% endif %}
  	{% endfor %}
    </tbody>
  </table>
{% endif %}
