{% extends "base.html" %}
{% load static %}
{% load i18n%}

{% block title %}{{ title }} | TutoNat {% endblock title %} 

{% block sidebar %}{% endblock %}

{% block maincontent %}


{% block content %}
<!-- Privacy Modal -->
<div class="modal fade" id="privacy-policy" tabindex="-1" aria-labelledby="privacyPolicy" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="privacyPolicy">Política de privacidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>
            Esta Política de Privacidad describe cómo TutoNat ("nosotros", "nuestro" o "la aplicación") recopila, utiliza y comparte la información personal de los usuarios ("usted" o "usuario") que utilizan nuestra aplicación web.
        </p>
        <p>
            <strong>1. Información que Recopilamos</strong><br>
            TutoNat puede recopilar la siguiente información personal de los usuarios:
            <ul>
                <li>Información de registro: al crear una cuenta en TutoNat, recopilamos su nombre, dirección de correo electrónico y contraseña.</li>
                <li>Información de perfil: podemos recopilar información adicional que usted elija proporcionar en su perfil, como su foto de perfil, fecha de nacimiento y otros detalles personales.</li>
                <li>Información de uso: recopilamos información sobre cómo interactúa con nuestra aplicación, como las páginas que visita, las funciones que utiliza y las acciones que realiza.</li>
                <li>Información de ubicación: en caso de que utilicemos funciones basadas en la ubicación, podemos recopilar información sobre su ubicación geográfica.</li>
            </ul>
        </p>
        <p>
            <strong>2. Uso de la Información</strong><br>
            Utilizamos la información recopilada para los siguientes propósitos:
            <ul>
                <li>Proporcionar y mantener nuestros servicios.</li>
                <li>Personalizar su experiencia y ofrecer contenido relevante.</li>
                <li>Comprender cómo utiliza nuestra aplicación y mejorar nuestros servicios.</li>
                <li>Enviar comunicaciones relacionadas con el servicio, como actualizaciones del producto, notificaciones y mensajes administrativos.</li>
                <li>Cumplir con nuestras obligaciones legales y responder a solicitudes legales.</li>
            </ul>
        </p>
        <p>
            <strong>3. Compartir de la Información</strong><br>
            No vendemos, alquilamos ni compartimos información personal con terceros, excepto en las siguientes circunstancias:
            <ul>
                <li>Proveedores de servicios: podemos compartir información con proveedores de servicios que nos ayudan a proporcionar y mantener nuestros servicios.</li>
                <li>Cumplimiento legal: podemos divulgar información cuando creemos de buena fe que la divulgación es necesaria para cumplir con una obligación legal, proteger nuestros derechos o responder a una solicitud judicial.</li>
            </ul>
        </p>
        <p>
            <strong>4. Seguridad de la Información</strong><br>
            Implementamos medidas de seguridad técnicas, administrativas y físicas para proteger la información personal contra accesos no autorizados, uso indebido o divulgación.
        </p>
        <p>
            <strong>5. Sus Derechos de Privacidad</strong><br>
            Usted tiene ciertos derechos sobre su información personal, incluido el derecho a acceder, corregir, eliminar y limitar el procesamiento de sus datos personales. Para ejercer estos derechos, contáctenos a través de los medios proporcionados al final de esta Política de Privacidad.
        </p>
        <p>
            <strong>6. Cambios en esta Política de Privacidad</strong><br>
            Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le notificaremos sobre los cambios significativos a través de un aviso en nuestra aplicación o por otros medios que consideremos apropiados.
        </p>
        <p>
            <strong>7. Contacto</strong><br>
            Si tiene alguna pregunta sobre esta Política de Privacidad, puede comunicarse con nosotros a través de <a href="mailto:rino.arias2018@uteq.edu.ec">rino.arias2018@uteq.edu.ec</a>.
        </p>
        </div>
        {% comment %} <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="entendido-button" data-bs-dismiss="modal">Entendido</button>
        </div> {% endcomment %}
        <div class="modal-footer">
            <a href="{% url 'home' %}" class="btn btn-primary">Entendido</a>
        </div>
    </div>
    </div>
</div>
{% endblock content %}
{% endblock maincontent %}



{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var privacyPolicyModal = new bootstrap.Modal(document.getElementById('privacy-policy'), {
            keyboard: false
        });
        privacyPolicyModal.show();
    });
</script>
{% endblock %}