{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Página de progreso" %} | TutoNat {% endblock %}
{% block description %} {% trans "Página de progreso del usuario" %} {% endblock %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Página de progreso</li>
    </ol>
</nav>

  {% if cat_scores %}

  <div class="header-title text-center">{% trans "Puntuación por categoría de pregunta" %}</div>
  <div class="title-line"></div>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Categoría" %}</th>
		<th>{% trans "Respuestas correctas" %}</th>
		<th>{% trans "Incorrecta" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>


	  {% for cat, value in cat_scores.items %}
	  <tr>
		<td>{{ cat }}</td>
		<td>{{ value.0 }}</td>
		<td>{{ value.1 }}</td>
		<td>{{ value.2 }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>


  {% endif %}

  {% if exams %}

  <hr>

  <div class="header-title-xl">{% trans "Documentos de exámenes anteriores" %}</div>
  <p class="lead text-muted">
	{% trans "A continuación figuran los resultados de los exámenes a los que se ha presentado." %}
  </p>
  <div class="info-text bg-danger mb-2">Total de exámenes completos: {{ exams_counter }}</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>#</th>
		<th>{% trans "Título del cuestionario" %}</th>
		<th>{% trans "Puntuación" %}</th>
		<th>{% trans "Puntuación posible" %}</th>
		<th>Sobre 100%</th>
	  </tr>
	</thead>

	<tbody>

	  {% for exam in exams %}

	  <tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ exam.quiz.title }}</td>
		<td>{{ exam.current_score }}</td>
		<td>{{ exam.get_max_score }}</td>
		<td>{{ exam.get_percent_correct }}%</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>
</div>
  {% endif %}
  {% if not cat_scores and not exams %}
 	<div class="col-12 p-4 text-center"><h3><i class="far fa-frown"></i></h3> Aún no hay registros. Trate de hacer algunas pruebas en su curso.</div> 
  {% endif %}

{% endblock %}
