{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}


{% block title %} {{ quiz.title}} | TutoNat {% endblock %}
{% block description %} {% trans "Resultados del cuestionario para" %} {{ quiz.title }} {% endblock %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Inicio</a></li>
		<li class="breadcrumb-item"><a href="{% url 'programs' %}">Programas</a></li>
		<li class="breadcrumb-item"><a href="{% url 'program_detail' course.program.id %}">{{ course.program }}</a></li>
		<li class="breadcrumb-item"><a href="{{ course.get_absolute_url }}">{{ course }}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'quiz_index' course.slug %}">Cuestionarios</a></li>
		<li class="breadcrumb-item"><a href="{% url 'quiz_take' course.id quiz.slug %}">{{ quiz.title|title }}</a></li>
		<li class="breadcrumb-item active" aria-current="page">Resultado</li>
	</ol>
</nav>

<div id="progress-card">
  <div class="col-md-6 mx-auto">
    <h5 class="lead">Calculando tu resultado...</h5>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>

<style>#progress-main{display: none;}</style>

<div class="container" id="progress-main">
  {% if previous.answers %}
    <div class="card bg-white p-3">
        <p class="muted"><small>{% trans "La pregunta anterior" %}:</small></p>
        <p>{{ previous.previous_question }}</p>
        <p>Tu respuesta fue
        <strong>
            {{ previous.previous_outcome|yesno:"correct,incorrect" }}
        </strong>
        </p>

        {% load i18n %}
        {% if previous.answers %}

          {% if user_was_incorrect %}
            <div class="alert alert-error">
              <strong>{% trans "Ha respondido incorrectamente a la pregunta anterior" %}</strong>
            </div>
          {% endif %}

          <table class="table table-striped table-bordered">
            <tbody>
              {% for answer in previous.answers %}
                {% if answer.correct %}
                  <tr class="success">
                    <td>{{ answer }}</td>
                  <td><strong>{% trans "Esta es la respuesta correcta" %}</strong></td>
                  </tr>
                {% else %}
                  <tr>
                    <td>{{ answer }}</td>
                    <td>
                    {% if previous.question_type.MCQuestion %}
                      {% if answer.id|add:"0" == previous.previous_answer|add:"0" %}
                        {% trans "Esta fue tu respuesta." %}
                      {% endif %}
                    {% endif %}
                    </td>
                  {% endif %}
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        <p><strong>{% trans "Explicación" %}:</strong></p>
        <p class="p-2" style="background-color: #fcf8e3;">
          {% if previous.previous_question.explanation %}
            {{ previous.previous_question.explanation }}
          {% else %}
            {% trans "No se han dado explicaciones a esta pregunta." %}
          {% endif %}
        </p>
        <hr>
    </div>

  {% endif %}

  {% if max_score %}

  <div class="card bg-white p-3">
    <div class="header-title-xl text-center">{% trans "Resultado del cuestionario" %}</div>
    <div class="title-line"></div>
	<p class="text-center">
	  <small class="muted">{% trans "Título del cuestionario" %}: </small>
	  <strong>{{ quiz.title }}</strong></p>

	<p class="lead text-center">
	  {% trans "Has contestado" %} {{ score }} {% trans "preguntas correctamente de" %} {{ max_score }}, {% trans "agradeciendote" %} {{ percent }}{% trans "% correcto" %}
    </p>

    <div class="score-wrapper mx-auto">
      <div class="score-wrapper-text">{{ percent }}%</div>
      <div class="score-wrapper-bar {% if percent >= 60 %} bg-success {% elif percent >= 50 %} bg-warning {% else %} bg-danger {% endif %}" 
        style="height: {{ percent }}%;" ></div>
    </div><br>

	{% if quiz.pass_mark %}
  <div class="card p-1" style="border: 1px solid #fd7e14;">
    <p class="lead bg-light p-3 text-orange"><span class="fa-1x">&CircleDot;</span> {{ sitting.result_message }}</p>
    {% endif %}
    <ul>
      <li>{% trans "Repasa las preguntas que aparecen a continuación e inténtalo de nuevo en el futuro"%}.</li>
      <li>
        {% trans "El resultado de este cuestionario se almacenará en tu sección de progreso." %} 
        <a class="text-primary" href="{% url 'quiz_progress' %}">Aquí</a> 
        {% trans "puedas revisar y controlar tu progresión." %}.
      </li>
    </ul>

  </div>

  {% endif %}

  <hr>

  {% if possible %}

  <p class="lead">
	{% trans "La puntuación de tu sesión es" %} {{ session }} {% trans "de un total de" %} {{ possible }}
  </p>

  <hr>

  {% endif %}

  {% if questions %}
  <div class="card bg-light p-2">
    <h2>Visión general</h2>
    {% for question in questions %}

      <p class="lead">
		    {{ forloop.counter }}, {{ question.content }}
	    </p>

	  <p><strong>{% trans "Explicación" %}:</strong></p>
    {% if question.explanation %}
    <p class="p-2 alert alert-info">
      {{ question.explanation|safe }}
    </p>
    {% else %}
    <p class="p-2 alert alert-warning">
      {% trans "No se han dado explicaciones para esta pregunta." %}
    </p>
    {% endif %}
    
    {% correct_answer_for_all question %}
    
    {% if question.user_answer %}
    <p>{% trans "Tu respuesta" %}: {{ question|answer_choice_to_string:question.user_answer }}</p>
    {% endif %}

    <hr>

  {% endfor %}
  </div>

  {% endif %}

</div>

{% endblock %}

{% block js %}
<script>
    // loader
    // document.getElementById('progress-main').style.display = 'none';
    var timer = setInterval(function(){
        document.getElementById('progress-card').style.display = 'none';
        document.getElementById('progress-main').style.display = 'block';
        clearInterval(timer)
    }, 8000);           
</script>
{% endblock js %}
