{% extends "base.html" %}
{% load static %}
{% load i18n%}

{% block title %}{{ title }} | TutoNat {% endblock title %} 

{% block sidebar %}{% endblock %}

{% block maincontent %}


{% block content %}
<!-- Term Modal -->
<div class="modal fade" id="term-of-service" tabindex="-1" aria-labelledby="termOfService" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="termOfService">Términos de Uso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>
            Los siguientes son términos de uso provisionales para la aplicación web TutoNat. Al acceder y utilizar esta aplicación, usted acepta cumplir con estos términos y condiciones. Si no está de acuerdo con alguno de estos términos, no utilice la aplicación.
        </p>
        <p>
            <strong>1. Uso de la aplicación: </strong><br>
            TutoNat es una plataforma educativa diseñada para facilitar el aprendizaje y el intercambio de conocimientos. Los usuarios pueden acceder y utilizar la aplicación para fines educativos y personales, siempre y cuando cumplan con estos términos de uso.
        </p>
        <p>
            <strong>2. Responsabilidades del usuario:</strong><br>
            Los usuarios son responsables de mantener la confidencialidad de sus credenciales de acceso y de cualquier actividad que ocurra bajo su cuenta. No deben compartir su información de inicio de sesión con terceros ni realizar actividades que puedan comprometer la seguridad de la aplicación.
        </p>
        <p>
            <strong>3. Contenido de usuario: </strong><br>
            Los usuarios son los únicos responsables del contenido que publiquen, compartan o transmitan a través de la aplicación. Deben asegurarse de que su contenido cumpla con las leyes aplicables y no infrinja los derechos de propiedad intelectual de terceros.
        </p>
        <p>
            <strong>4. Modificaciones y actualizaciones: </strong><br>
            Nos reservamos el derecho de modificar, actualizar o discontinuar cualquier aspecto de la aplicación en cualquier momento y sin previo aviso. Esto puede incluir cambios en la funcionalidad, el diseño y los términos de uso.
        </p>
        <p>
            <strong>5. Limitación de responsabilidad: </strong><br>
            En ningún caso seremos responsables ante los usuarios por daños directos, indirectos, incidentales, especiales o consecuentes que surjan del uso o la imposibilidad de usar la aplicación, incluso si se nos ha informado de la posibilidad de tales daños.
        </p>
        </div>
{% comment %}         
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido</button>
        </div>
         {% endcomment %}
        <div class="modal-footer">
            <a href="{% url 'home' %}" class="btn btn-primary">Entendido</a>
        </div>
    </div>
    </div>
</div>

{% endblock content %}
{% endblock maincontent%}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var privacyPolicyModal = new bootstrap.Modal(document.getElementById('term-of-service'), {
            keyboard: false
        });
        privacyPolicyModal.show();
    });
</script>
{% endblock %}